.head{
    color: black;
    background-color:  rgb(237, 219, 174);
    justify-content: center;
    display: flex;
}
.para{
    color: black;
    background-color: rgb(237, 219, 174);
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.bg{
     background-color:  rgb(237, 219, 174);
}