.navb{
    display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem 2rem;
  background-color: #0f172a; 
  color: #ffffff;
  height: 20px;

}
.head {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: auto; 
}
a{
      text-decoration: none;
  color: #e5e7eb;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}


