.price{
    color: brown;
    font-size: 20px;
}
.cards{
    display: flex;
    justify-content: center;
    background-color: rgb(232, 221, 207);
    gap: 30px;
}
.card1{
  border: 2px solid #ccc;   
  border-radius: 10px;       
  padding: 40px;           
  background-color: #ffffff;
}
.card2{
    border: 2px solid #ccc;   
  border-radius: 10px;  
  border-color: blue;      
  padding: 40px;           
  background-color: #ffffff;

}
.card3{
    border: 2px solid #ccc;   
  border-radius: 10px;      
  padding: 40px;           
  background-color: #ffffff;
}